<a href="https://colab.research.google.com/github/ohjisu320/study_dataanalytics/blob/main/docs/pandas/01_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## colab 사용법
- 실행 셀 순서가 변수 값 적용 많은 영향

In [ ]:
number = 5

In [ ]:
number

10

In [ ]:
number = 10

In [ ]:
import pandas as pd

## pandas

### Series(시리즈) = index + value

- 단일 변수

In [ ]:
list = [4,5,-3,8]
series_numbers = pd.Series(list) # = pd.Series([4,5,-3,8])

In [ ]:
series_numbers, type(series_numbers)  # Series

(0    4
 1    5
 2   -3
 3    8
 dtype: int64,
 pandas.core.series.Series)

In [ ]:
series_numbers.index, series_numbers.values, series_numbers.shape, series_numbers.dtype

(RangeIndex(start=0, stop=4, step=1),
 array([ 4,  5, -3,  8]),
 (4,),
 dtype('int64'))

In [ ]:
list, type(list) # python list

([4, 5, -3, 8], list)

In [ ]:
pd.Series(['과자', '음료', '아이스크림', '사탕'], index=['a', 'b', 'd', 'z'])

a       과자
b       음료
d    아이스크림
z       사탕
dtype: object

In [ ]:
series_first = pd.Series([1,2,3,4])
series_second = pd.Series([5,6,7,8])

In [ ]:
series_first + series_second

0     6
1     8
2    10
3    12
dtype: int64

In [ ]:
result = series_first * series_second

In [ ]:
result, type(result)

(0     5
 1    12
 2    21
 3    32
 dtype: int64,
 pandas.core.series.Series)

### DataFrame(데이터 프레임) =  Series + Series
- 다(복합) 변수

### loading dataset from files

In [ ]:
df_california_housing = pd.read_csv("sample_data/california_housing_test.csv")

In [ ]:
df_california_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df_california_housing[100:105]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
100,-118.30,34.02,49.0,2120.0,483.0,1522.0,416.0,1.8500,116800.0
101,-122.23,37.79,43.0,5963.0,1344.0,4367.0,1231.0,2.1917,112800.0
102,-121.31,38.62,31.0,3114.0,430.0,1121.0,456.0,6.2440,240000.0
103,-117.25,32.80,35.0,2281.0,506.0,1005.0,496.0,4.2296,275000.0
104,-118.26,33.99,36.0,2016.0,505.0,1807.0,464.0,1.6901,103500.0

In [ ]:
df_california_housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
df_california_housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')